body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: -moz-linear-gradient(10);

}
h2, h3, h4, h5, h6{
    color: rgb(139, 65, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}
.main-content{
    margin-left: 220px;
    padding: 20px;
}
.sidebar{
    background-color: rgb(139, 65, 65);
    width: 200px;
    height:100%;
    left: 0;
    padding: 15px;
    position: fixed;
   
}

.sidebar ul{
    list-style: none;
    padding: 0;

}
.sidebar ul li{
    margin: 15px 0;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li a:hover{
    text-decoration: underline;
}

.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: ;

}
.box-model{
    padding: 15px;
    width: 200px;
    background-color: aliceblue;
    border: 5px solid yellow;
    margin: 20px;
}

.final{
    font-style: italic;
}

.image1{
    padding-left: 500px;
}